@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");

.heading {
	font-family: "Crete Round", serif;
	text-align: center;
}

h4 {
	font-weight: 100;
	font-style: italic;
	color: rgb(42, 116, 212);
}
