@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");

.heading {
	font-family: "Crete Round", serif;
	text-align: center;
}

.heading h1 {
	color: white;
	letter-spacing: 5px;
	filter: drop-shadow(1px 1px 4px #060629);
}

h4 {
	font-weight: 100;
	font-style: italic;
	color: white;
}
